<div class="container2">

  <h2 class="header"> Edit Survey </h2>

  <form action="/surveys/<%= @survey.id %>" method='POST' class="form">
    <input type="hidden" name="_method" value="PUT">
    <br><br>
    <input type="text" name="title" placeholder="Survey Title" value="<%= @survey.title %>" />
    <br><br>
    <!-- <div class="inputs">
      <div class="input_container">
        <span class="input"><input type="text" name="questions[question1[title]]" placeholder="question" value="<%= @survey.questions.first.title %>"/></span>
        <span class="input"><input type="text" name="questions[question1[choice1]]" placeholder="choice" class="choice"></span>
        <span class="input"><input type="text" name="questions[question1[choice2]]" placeholder="choice" class="choice"/></span>
        <span class="input"><input type="text" name="questions[question1[choice3]]" placeholder="choice" class="choice"/></span>
        <br><br>
      </div>
    </div> -->
    <% i = 1%>
    <% @questions.each do |question| %>
      <div>
        <span class="input"><input type="text" name="questions[question<%= i %>[title]]" value="<%= question.title %>"></span>
        <% index = 1 %>
        <% question.choices.each  do |choice| %>
          <span class="input"><input type="text" name="questions[question<%= i %>[choice<%= index %>]]" value="<%= choice.title %>"></span>
          <% index += 1 %>
        <% end %>
      </div>
      <% i += 1 %>
    <% end %>
    <br><br>
    <input type="submit" value="Update" class="btn">
  </form>

</div>