<%= @survey.title %>

<form action="/post" method="POST">
<% @questions.each do |question|%>
  <%= question.title %>
    <select name="<%=question.id%>">
  <% question.all_choices.each do |choice|%>
      <option value="<%= choice.id %>"><%=choice.title%></option>
   </select>
   <% end %>
  <% end %>
  <input type="submit" value="submit" class="btn">
</form>
