<div id="banner">
  <span id="survey_monkey"><a class="banner_text" href="/">SurveyMonkey</a></span>
  <span id="home"><a class="banner_text" href="/">Home</a></span>
  <span id="create_survey"><a class="banner_text" href="/surveys/new">Create Survey</a></span>
  <span id="logout"><a  class="banner_text" href="/logout">Logout</a></span>
</div>

<div class="container">

<div class="response">Participants: <%= @responses.distinct.count(:user_id) %></div>

<h3> <%= @survey.title %></h3>

  <% @questions.each do |question|%>
    <div>
      <p class="question_title"><%= question.title %>:</p>
      <ol class="options">
       <% question.all_choices.each do |choice|%>
          <li>
            <name="<%=question.id%>" value="<%= choice.id %>"><%=choice.title%><span class="count"><%= @responses.where(question: question, choice: choice).count %></span>
          </li>
       <% end %><br>
     </ol>
    </div>
  <% end %>

</div>