
<div class="container">

<div class="response">Participants: <%= @responses.distinct.count(:user_id) %></div>

<h3> <%= @survey.title %></h3>

  <% @questions.each do |question|%>
    <div>
      <p class="question_title"><%= question.title %>:</p>
      <ol class="options">
       <% question.all_choices.each do |choice|%>
          <li>
            <name="<%=question.id%>" value="<%= choice.id %>"><%=choice.title%><span class="count"><%= @responses.where(question: question, choice: choice).count %></span>
          </li>
       <% end %><br>
     </ol>
    </div>
  <% end %>

</div>